@import "colors";

.dropdown {
  position: relative;
  width: 400px;

  .itemsContainer {
    display: none;
    border: 1px solid $grey;
    margin-top: 5px;
  }

  &.dropdown-is-opened {
    .itemsContainer {
      display: block;
    }
  }

  &:hover {
    cursor: pointer;
  }

  .selector {
    position: relative;
    //width: 100%;
    line-height: 24px;
    border: 1px solid $grey;
    padding: 15px 20px;
    font-size: 16px;

    .caret {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: $caret transparent transparent;
      right: 15px;
      top: 24px;
      position: absolute;
      transform: rotate(0deg);
      transition: all .25s ease-in;
    }
  }
}
